mixin section(name, arr)
	if name == ''
		each item in arr
			if item.href
				a(class=item.class href=item.href)
					if item.imgL
						img(src=item.imgL, alt="")
					if item.faL
						i(class=item.faL)
					=item.text
					if item.faR
						i(class=item.faR)
					if item.imgR
						img(src=item.imgR, alt="")
			if !item.href
				button(class=`${item.class}`)
					if item.imgL
						img(src=item.imgL, alt="")
					if item.faL
						i(class=item.faL)
					=item.text
					if item.faR
						i(class=item.faR)
					if item.imgR
						img(src=item.imgR, alt="")
	if name == 'menubtn'
		each item in arr
			button.menubtn
				span.menubtn-line
