mixin section(name, arr)
	if name == ''
		each item in arr
			.loading
				.loading-text=item.title
				button(aria-label='btn')
					img(src=item.imgLoade alt='' aria-label='load')
	if name == 'load'
		each item in arr
			.loading.loading--load
				.sk-circle
					- let n = 1;
					while n < 12
						div(class=`sk-circle${n++} sk-child`)
				=item.title
	if name == 'error'
		each item in arr
			.loading
				.loading-error=item.title
				button(aria-label='btn').loading-error_btn
					img(src=item.imgBasket alt='' aria-label='basket')
					img(src=item.imgLoad alt='' aria-label='load')