mixin section(name, arr)
	if name == 'bottomLine'
		each item in arr
			input(type="text" placeholder=item.placeholder class='bottomLine')
	//- Квадратное поле ввода с тенью
	if name == 'squareShadow'
		each item in arr
			if item.label
				label.squareShadowLabel
					span=item.label
					input(type="text" placeholder=item.placeholder class='squareShadow' name=item.name)
			else
				input(type="text" placeholder=item.placeholder class='squareShadow' name=item.name)
	if name == 'rangeInput'
		each item in arr
			div(class=item.class)
				=item.title
				span.rangeValue 0
			div(class=item.rangeClass)
				input(type="range" min='0' max='30' value='0')
