mixin section(name, arr)
	if name == 'bottomLine'
		each item in arr
			input(type="text" placeholder=item.placeholder class='bottomLine')
	//- Квадратное поле ввода с тенью
	if name == 'squareShadow'
		each item in arr
			if item.label
				label.squareShadowLabel
					span=item.label
					input(type="text" placeholder=item.placeholder class='squareShadow' name=item.name)
			else
				input(type="text" placeholder=item.placeholder class='squareShadow' name=item.name)
	if name == 'rangeInput'
		each item in arr
			.range
				.range-head
					.range-title=item.title
					span.range-numb 0
				.range-cont
					input(class="range-input" type="range" min=item.min max=item.max value=item.value)
